.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.box {
    border-bottom: 5px solid rgb(14, 28, 151);
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.mainTittle {
    text-align: center;
    font-size: 35px;
    margin-bottom: 30px;
}

#tableProducts {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#tableProducts td {
    text-align: center;
}

#tableProducts td,
#tableProducts th {
    border: 1px solid #ddd;
    padding: 8px;
}

#tableProducts tr:nth-child(even) {
    background-color: #f2f2f2;
}

#tableProducts tr:hover {
    background-color: #ddd;
}

#tableProducts th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
}

.btnCrear {
    background-color: rgb(14, 28, 151);
    border: 2px solid rgb(14, 28, 151);
    border-radius: 30px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin-bottom: 30px;
    cursor: pointer;
}

.btnModificar {
    background-color: rgb(14, 28, 151);
    border: 2px solid rgb(14, 28, 151);
    border-radius: 30px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    cursor: pointer;
}

.btnEliminar {
    background-color: red;
    border: 2px solid red;
    border-radius: 30px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    cursor: pointer;
}

.btnVender {
    background-color: green;
    border: 2px solid green;
    border-radius: 30px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    cursor: pointer;
}

input {
    width: 20%;
    padding: 12px 20px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

body {
    display: grid;
}

form {
    text-align: center;
}

.btnModificarA {
    background-color: rgb(14, 28, 151);
    border: 2px solid rgb(14, 28, 151);
    border-radius: 30px;
    color: white;
    margin-top: 15px;
    margin-bottom: 20px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    cursor: pointer;
}

.btnCancelar {
    background-color: rgb(81, 83, 99);
    border: 2px solid rgb(81, 83, 99);
    border-radius: 30px;
    color: white;
    margin-top: 15px;
    margin-bottom: 20px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    width: 100px;
    cursor: pointer;
}

.btnEnviar {
    background-color: green;
    border: 2px solid green;
    border-radius: 30px;
    color: white;
    margin-top: 15px;
    margin-bottom: 20px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    cursor: pointer;
}